In [1]:
import numpy as np
import pandas as pd
# collobarative recommneder system

In [2]:
books = pd.read_csv("BX-Books.csv", sep=";", error_bad_lines=False, encoding="latin-1")

C:\Users\Md Shadan\AppData\Local\Temp\ipykernel_8108\3897328690.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  books = pd.read_csv("BX-Books.csv", sep=";", error_bad_lines=False, encoding="latin-1")
b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
C:\Users\Md Shadan\AppData\Local\Temp\ipykernel_8108\3897328690.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv("BX-Books.csv", sep=";", error_bad_lines=False, encoding="latin-1")

In [3]:
books.head()
# the image columns is not any use now for our analysis so we will create new data frame without these columns

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
books=books[['ISBN','Book-Title','Book-Author','Year-Of-Publication','Publisher']]

In [5]:
books.rename(columns={'Book-Title':'Title','Book-Author':'Author','Year-Of-Publication':'Year'},inplace=True)

In [6]:
books.head(3)

,ISBN,Title,Author,Year,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial

In [7]:
users=pd.read_csv("BX-Users.csv",sep=";",error_bad_lines=False,encoding='latin-1')

C:\Users\Md Shadan\AppData\Local\Temp\ipykernel_8108\3449109785.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  users=pd.read_csv("BX-Users.csv",sep=";",error_bad_lines=False,encoding='latin-1')

In [8]:
users.rename(columns={'User-ID':'user_id','Location':'location','Age':'age'})

        user_id                            location   age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [9]:
ratings=pd.read_csv("BX-Book-Ratings.csv",sep=";",error_bad_lines=False,encoding='latin-1')

C:\Users\Md Shadan\AppData\Local\Temp\ipykernel_8108\4014277603.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  ratings=pd.read_csv("BX-Book-Ratings.csv",sep=";",error_bad_lines=False,encoding='latin-1')

In [10]:
ratings.rename(columns={'User-ID':'user_id','Book-Rating':'book_rating'},inplace=True)

In [11]:
ratings.head(2)

   user_id        ISBN  book_rating
0   276725  034545104X            0
1   276726  0155061224            5

In [12]:
users.shape

(278858, 3)

In [13]:
ratings.shape

(1149780, 3)

In [14]:
books.shape

(271360, 5)

In [15]:
# we will make a matrix factorization in that
# columns will be users and indexes will be books and  criteria - 1.also we will take only those user which have given min 200 times ratings
# and2. also we will take only those books which have the minimum 50 ratings given by user

In [16]:
ratings['user_id'].value_counts() # in here we are trying to find out which users gave the ratings how many times
# by using value_counts

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: user_id, Length: 105283, dtype: int64

In [17]:
ratings['user_id'].value_counts().shape # so only 1 lakh+ user have rate the books

(105283,)

In [18]:
x=ratings['user_id'].value_counts()>200

In [19]:
x[x] # by doing like this we will get only those whose values are true for 200 meaning our criteria

11676     True
198711    True
153662    True
98391     True
35859     True
          ...
274808    True
28634     True
59727     True
268622    True
188951    True
Name: user_id, Length: 899, dtype: bool

In [20]:
y=x[x].index # by using index we will get the user_id along with thier ratings

In [21]:
y

Int64Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352,
            110973, 235105,
            ...
            260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727,
            268622, 188951],
           dtype='int64', length=899)

In [22]:
ratings=ratings[ratings['user_id'].isin(y)] # in here we are putting y into the ratings

In [23]:
ratings.shape

(526356, 3)

In [24]:
ratings_with_books=ratings.merge(books,on='ISBN')

In [25]:
ratings_with_books.head()

,user_id,ISBN,book_rating,Title,Author,Year,Publisher
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc

In [26]:
ratings_with_books.shape

(487671, 7)

In [27]:
number_of_rating=ratings_with_books.groupby('Title')['book_rating'].count().reset_index()

In [28]:
number_of_rating.head()

                                               Title  book_rating
0   A Light in the Storm: The Civil War Diary of ...            2
1                              Always Have Popsicles            1
2               Apple Magic (The Collector's series)            1
3   Beyond IBM: Leadership Marketing and Finance ...            1
4   Clifford Visita El Hospital (Clifford El Gran...            1

In [55]:
number_of_rating.rename(columns={'book_rating':'number of ratings'},inplace=True)

In [56]:
final_rating=ratings_with_books.merge(number_of_rating,on='Title')

In [57]:
final_rating.head()

,user_id,ISBN,book_rating,Title,Author,Year,Publisher,number of ratings
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82

In [58]:
final_rating=final_rating[final_rating['number of ratings']>=50]

In [59]:
final_rating.shape
# now we have our desired data frame with our criteria satisfied

(61853, 8)

In [60]:
final_rating.drop_duplicates(['user_id','Title'],inplace=True)

In [61]:
final_rating.shape

(59850, 8)

In [62]:
#now we will create the pivot table
pivot=final_rating.pivot_table(columns='user_id',index='Title',values='book_rating')

In [63]:
pivot.fillna(0,inplace=True)

In [64]:
pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [65]:
# we will use nearest neighbour algo which does clustering it calculates the distances and make a clustering based on distances
# we will have the problem in doing that because of zeros so we will convert this pivot table into csr matrix
# csr matrix will not consider the zero values it will only consider the non-zero values
from scipy.sparse import csr_matrix
sparse=csr_matrix(pivot)

In [66]:
type(sparse)

scipy.sparse._csr.csr_matrix

In [67]:
from sklearn.neighbors import NearestNeighbors

In [68]:
model = NearestNeighbors(algorithm='brute')

In [69]:
model.fit(sparse)

NearestNeighbors(algorithm='brute')

In [92]:
distances, suggestions=model.kneighbors(pivot.iloc[237,:].values.reshape(1,-1),n_neighbors=6)

In [93]:
distances

array([[ 0.        , 68.78953409, 69.5413546 , 72.64296249, 76.83098333,
        77.28518616]])

In [94]:
suggestions

array([[237, 240, 238, 241, 184, 536]], dtype=int64)

In [95]:
from sklearn.neighbors import NearestNeighbors

def recommend_books(book_index, model, pivot):
    distances, suggestions = model.kneighbors(pivot.iloc[book_index, :].values.reshape(1, -1), n_neighbors=6)
    return suggestions.flatten()

# Example usage:
recommended_books = recommend_books(289, model, pivot)
print(recommended_books)

[289 266 298 184 536 597]

In [96]:
# we are still not getting the names of our books we are only getting the user_id
# so for getting names of the book we will do this
pivot.index[237] # by writing this we are getting the names of the books

'Harry Potter and the Chamber of Secrets (Book 2)'

In [97]:
for i in range(len(suggestions)):
    print(pivot.index[suggestions[i]])

Index(['Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Sorcerer's Stone (Book 1)', 'Exclusive',
       'The Cradle Will Fall'],
      dtype='object', name='Title')

In [100]:
# now we will create a function which will recommend books based on the name of the book you provided
np.where(pivot.index=='Animal Farm')[0][0] # this helps us to find the id of the book
# which we will provide to our function

54

In [105]:
def recommend_book(book_name):
    book_id= np.where(pivot.index==book_name)[0][0]
    distances, suggestions=model.kneighbors(pivot.iloc[book_id,:].values.reshape(1,-1),n_neighbors=6)
    
    for i in range(len(suggestions)):
        if i==0:
            print('The suggestions for', book_name,'are :')
        if not i:
            print(pivot.index[suggestions[i]])

In [107]:
recommend_book('Harry Potter and the Chamber of Secrets (Book 2)')

The suggestions for Harry Potter and the Chamber of Secrets (Book 2) are :
Index(['Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Sorcerer's Stone (Book 1)', 'Exclusive',
       'The Cradle Will Fall'],
      dtype='object', name='Title')

In [ ]:
# its done we have made our function which can recommend the books